
 <% list_payments(@group).each do |item| %>
 <div class="flex justify-evenly items-center mt-3 bg-white mx-4">
  <%= link_to image_tag('money.png'), group_payments_url(@group), class:'border border-gray-400 rounded-sm p-3 m-5' %>
   <h5 class="font-medium mb-1"><%= link_to item.name, group_payments_url(@group) %></h5>
   <h5 class="mb-1"><%= link_to item.amount, group_payments_url(@group) %></h5>
  </div> 
 <% end %>


<div class="w-full bg-lime-400 p-5 mt-3 absolute bottom-0">
<div class="border border-solid border-7 border-white w-50 rounded-lg">
    <%= link_to 'Add Payment', new_group_payment_path(@group), class: "py-5 text-white text-center block font-medium mt-5 mb-3 w-70" %>
</div>
</div>