<div class="w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @group %>
  </div>
</div>

<div class="text-center mt-5 py-5">
  <%= render 'layouts/group_payments' %>
</div>