<%= render 'layouts/navbar'%>

<div class="w-full">
  <div class="mx-auto">
    <%= render @group %>
  </div>
</div>

<div class="text-center mt-5 py-5">
  <%= render 'layouts/group_payments' %>
</div>