<%= render 'layouts/navbar_pay'%>

<div class="flex justify-evenly mt-5 bg-white mx-4 py-3" >
  <h1 class="text-center text-3xl"> Total Payment : <%= Payment.total_payment(@group) %></h1>
</div>

<div class="w-full">
  <% unless @payments.empty? %>
    <div id="payments" class="min-w-full">
    <% @payments.order(created_at: :desc).each do |payment| %>
      <%= render payment %>
    </div>
    <% end %>
  <% else%>
    <div id="payments" class="min-w-ful">
      <h1 class="text-7xl text-center my-20">No payments yet</h1>
    </div>
  <% end %>
</div>

<div class="w-full bg-lime-400 p-5 mt-5 absolute bottom-0">
  <div class="border border-solid border-7 border-white w-50 rounded-lg">
    <%= link_to 'New payment', new_group_payment_path, class: "py-5 text-white text-center block font-medium mt-5 mb-3 w-70" %>
  </div>
</div>
