<div>
 <% list_payments(@group).each do |item| %>
   <%= item.name %>
   <%= item.amount %>
 <% end %>
</div>

<%= link_to 'Add Payment', new_group_payment_path(@group), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
